<nav class="navbar">

  <div class="nav-container">

    <a class="logo" href="#home">

      <span class="logo-mark">

        <img
          src="/assets/favicon-512.png"
          alt="Omar Osama Logo"
        />

      </span>

      <span class="logo-name">
        OMAR<span>.</span>
      </span>

    </a>

    <div class="nav-links">

      <a href="#about">About</a>

      <a href="#skills">Skills</a>

      <a href="#projects">Projects</a>

      <a href="#experience">Experience</a>

    </div>

    <a
      href="#contact"
      class="contact-btn"
    >
      Let's Talk
      <span>↗</span>
    </a>

  </div>

</nav>